<html lang=en>
<meta charset=utf8>
<meta name=viewport content=width=device-width,initial-scale=1>
<link rel="shortcut icon" type=image/x-icon href=data:image/x-icon;,>
<title>Add animal | Shelter</title>
<link rel=stylesheet href=/index.css>
<main class="container">
  <form action="/" method="post" enctype="multipart/form-data">
    <label>
      Image
      <input type="file" name="image" accept="image/jpeg">
    </label>
    <label>
      Name*
      <input type="text" name="name" required>
    </label>
    <label>
      Description
      <textarea name="description" cols="30"></textarea>
    </label>
    <label>
      Date of intake*
      <input type="date" name="intake" required>
    </label>
    <% data.forEach(function(propertyType) { %>
      <% switch (Object.keys(propertyType[0])[1]) {
          case 'sex': %>
            <fieldset>
              <legend>Sex*</legend>
              <% propertyType.forEach(function (option) { %>
              <label class="capitalize">
                <input type="radio" name="sex" value="<%= option['id'] %>">
                <%= option['sex'] %>
              </label>
              <% }) %>
            </fieldset>
          <% break
          case 'coat': %>
            <fieldset>
              <legend>Coat</legend>
              <% propertyType.forEach(function (option) { %>
                <label class="capitalize">
                  <input type="radio" name="coat" value="<%= option['id'] %>">
                  <%= option['coat'] %>
                </label>
              <% }) %>
            </fieldset>
          <% break
          case 'types': %>
            <label>
              Animal type*
              <select name="type" required>
                <% propertyType.forEach(function (option) { %>
                  <option value="<%= option['id'] %>"><%= option['type'] %></option>
                <% }) %>
              </select>
            </label>
          <% break
          case 'location': %>
            <label>
              Animal Shelter*
              <select name="place" required>
                <% propertyType.forEach(function (option) { %>
                  <option value="<%= option['id'] %>"><%= option['location'] %></option>
                <% }) %>
              </select>
            </label>
          <% break
          case 'size': %>
            <fieldset>
              <legend>Size</legend>
              <% propertyType.forEach(function (option) { %>
                <label class="capitalize">
                  <input type="radio" name="size" value="<%= option['id'] %>">
                  <%= option['size'] %>
                </label>
              <% }) %>
            </fieldset>
          <% break
          case 'length': %>
            <fieldset>
              <legend>Length</legend>
              <% propertyType.forEach(function (option) { %>
                <label class="capitalize">
                  <input type="radio" name="length" value="<%= option['id'] %>">
                  <%= option['length'] %>
                </label>
              <% }) %>
            </fieldset>
          <% break
          case 'coat': %>
            <fieldset>
              <legend>Coat</legend>
              <% propertyType.forEach(function (option) { %>
                <label class="capitalize">
                  <input type="radio" name="coat" value="<%= option['id'] %>">
                  <%= option['coat'] %>
                </label>
              <% }) %>
            </fieldset>
          <% break
        } %>
    <% }) %>
    <label>
      Age in years*
      <input type="number" name="age" required>
    </label>
    <label>
      Weight
      <input type="number" name="weight" step="0.1">
    </label>
    <fieldset>
      <legend>Vaccinated*</legend>
      <label>
        <input type="radio" name="vaccinated" value="1" required>
        Yes
      </label>
      <label>
        <input type="radio" name="vaccinated" value="0" required>
        No
      </label>
    </fieldset>
    <fieldset>
      <legend>Declawed</legend>
      <label>
        <input type="radio" name="declawed" value="1">
        Yes
      </label>
      <label>
        <input type="radio" name="declawed" value="0">
        No
      </label>
    </fieldset>
    <fieldset>
      <legend>Colours</legend>
      <label>Primary Color*
        <input type="text" name="primary_color" required>
      </label>
      <label>Secondary Color
        <input type="text" name="secondary_color">
      </label>
    </fieldset>
    <input type="submit" value="Submit Animal">
  </form>
</main>
